/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 56px;
  padding: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --board-black-color: #999999;
  --board-white-color: #FFFFFF;
  --board-border-color: #333333;
  --board-border-size: 8px;
}


.cdk-drag-placeholder {
  position: absolute;
  opacity: 0;
}

.cdk-drag-animating {
  //transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
}