/* You can add global styles to this file, and also import other style files */

html {
  background-color: #E5E5E5;
}

html, body {
  margin: 56px;
  padding: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --square-black-color: #97C1D8;
  --square-white-color: #E0FBFB;
  --square-active-color: #5e88c0;
  --square-attack-color: #EE6C4D;
}


.cdk-drag-placeholder {
  position: absolute;
  opacity: 0;
}

.cdk-drag-animating {
  //transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
}